# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environment variables
.env
.env.local
.env.production
.env.development

# Node / Build artifacts
node_modules/
dist/
.cache/
*.log

# IDE
.vscode/
.idea/
